In [45]:
import pandas as pd
import numpy as np
import os
import ast
import warnings
from dateutil import relativedelta
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 1000)

In [67]:
mdl_list = ["dayz"]
path = "./"
paths="./dayz_results/"

for mdl in mdl_list:
    tmp = pd.read_excel(path+"dayz_simulated_results_on_lagged_features.xlsx")
    xls=pd.ExcelFile(path+"dayz_simulated_results_on_lagged_features.xlsx")
#     display(xls.sheet_names)
    for i in range(0,12):
        df = pd.read_excel(path+"dayz_simulated_results_on_lagged_features.xlsx", sheet_name=xls.sheet_names[i])
        df.set_index("datetime_index", inplace=True)
        df.to_csv(paths+"results_"+mdl+"_"+xls.sheet_names[i]+".csv")
        display("results_"+mdl+"_"+xls.sheet_names[i]+".csv")

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

In [68]:
path = "./dayz_results"
file_list = []
for file in os.listdir(path):
    if "param" not in file and ".DS" not in file:
        file_list.append(file)
file_list

['results_dayz_N+10_9.012.csv',
 'results_dayz_N+11_8.873.csv',
 'results_dayz_N+12_9.922.csv',
 'results_dayz_N+1_14.524.csv',
 'results_dayz_N+2_13.544.csv',
 'results_dayz_N+3_11.854.csv',
 'results_dayz_N+4_10.137.csv',
 'results_dayz_N+5_8.523.csv',
 'results_dayz_N+6_6.674.csv',
 'results_dayz_N+7_7.069.csv',
 'results_dayz_N+8_8.195.csv',
 'results_dayz_N+9_8.718.csv']

In [69]:
duration = pd.date_range("2017-12-01", "2019-11-01", freq='1MS')

In [71]:
for j in range(len(duration)):
    df = pd.DataFrame(columns = ["predict", "actual", "abs_error", "abs_error%"], index = pd.date_range(duration[j], duration[j] + relativedelta.relativedelta(months=11), freq='1MS'))
    for i in range(12):
        filename = [item for item in file_list if item.split("_")[2][2:] == str(i+1)][0]
        tmp = pd.read_csv(paths+filename)
        
        tmp.set_index("datetime_index", inplace=True)
        tmp.index = pd.to_datetime(tmp.index)
      
        
#         tmp["forecast"] = tmp["forecast"].apply(lambda x: round(ast.literal_eval(x)))
#         tmp["mape"] = tmp["mape"].apply(lambda x: round(ast.literal_eval(x)))
        try:
           
            df.ix[duration[j+i]] = tmp.ix[duration[j+i]]

        except:
            pass
#     display(df)    
    df.drop(["actual", "abs_error", "abs_error%"], axis=1, inplace=True)
    
    df.reset_index(inplace=True)
    df.columns = ["ds", "yhat"]
    display(df)
    empt_df = pd.DataFrame(columns = ["yhat"], index = pd.date_range(duration[j] - relativedelta.relativedelta(months=12),duration[j] - relativedelta.relativedelta(months=1), freq='1MS'))
    empt_df.index.name = "ds"
    empt_df.reset_index(inplace=True)
    df = pd.concat([empt_df, df], axis=0)
    df["ds"] = df["ds"].apply(lambda x: str(x.year) + "{0:0=2d}".format(x.month))
    df.fillna(0, inplace=True)
    
    name_duration = duration[j] - relativedelta.relativedelta(months=1)
    df.to_csv("./fcst_"+str(name_duration.year) + "{0:0=2d}".format(name_duration.month)+".csv", index=False)

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2017-12-01  4628.52
1  2018-01-01  6593.16
2  2018-02-01  6265.56
3  2018-03-01  7489.31
4  2018-04-01  5289.99
5  2018-05-01  5465.07
6  2018-06-01   5347.1
7  2018-07-01  5421.61
8  2018-08-01  4367.56
9  2018-09-01  6342.89
10 2018-10-01  5382.86
11 2018-11-01  5126.81

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-01-01  6629.59
1  2018-02-01  6259.82
2  2018-03-01   7482.6
3  2018-04-01  5381.76
4  2018-05-01  5455.71
5  2018-06-01   5353.6
6  2018-07-01  5404.61
7  2018-08-01  4408.32
8  2018-09-01  6313.78
9  2018-10-01  5350.28
10 2018-11-01   5161.3
11 2018-12-01  4571.34

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-02-01  6042.08
1  2018-03-01  7653.01
2  2018-04-01  5598.17
3  2018-05-01  5549.52
4  2018-06-01  5279.43
5  2018-07-01  5409.53
6  2018-08-01  4502.51
7  2018-09-01  6049.12
8  2018-10-01  5471.37
9  2018-11-01  5232.02
10 2018-12-01  4684.07
11 2019-01-01  6966.01

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-03-01  7709.89
1  2018-04-01  5515.67
2  2018-05-01  5556.46
3  2018-06-01  5318.36
4  2018-07-01  5400.36
5  2018-08-01  4447.32
6  2018-09-01  6103.47
7  2018-10-01  5363.17
8  2018-11-01  5272.91
9  2018-12-01   4671.2
10 2019-01-01  6961.33
11 2019-02-01  6234.52

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-04-01  5572.77
1  2018-05-01  5494.51
2  2018-06-01   5337.1
3  2018-07-01  5424.78
4  2018-08-01   4390.5
5  2018-09-01     6039
6  2018-10-01  5340.78
7  2018-11-01   5337.1
8  2018-12-01  4593.29
9  2019-01-01   6786.8
10 2019-02-01  6143.81
11 2019-03-01  9445.71

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-05-01  5072.34
1  2018-06-01  5377.79
2  2018-07-01  5580.77
3  2018-08-01  4179.46
4  2018-09-01  6231.99
5  2018-10-01  5129.61
6  2018-11-01  5377.79
7  2018-12-01  4672.51
8  2019-01-01  6718.64
9  2019-02-01   6225.1
10 2019-03-01  9350.01
11 2019-04-01  9162.34

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-06-01  5380.56
1  2018-07-01  5558.25
2  2018-08-01  4196.85
3  2018-09-01   6209.5
4  2018-10-01  5107.78
5  2018-11-01  5380.56
6  2018-12-01  4715.79
7  2019-01-01  6729.23
8  2019-02-01  6218.94
9  2019-03-01  9517.28
10 2019-04-01  9069.51
11 2019-05-01  7664.49

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-07-01  5555.21
1  2018-08-01  4196.52
2  2018-09-01  6191.45
3  2018-10-01  5121.28
4  2018-11-01  5353.78
5  2018-12-01  4706.51
6  2019-01-01   6744.1
7  2019-02-01  6177.55
8  2019-03-01  9511.95
9  2019-04-01  9231.76
10 2019-05-01  7667.72
11 2019-06-01  8761.85

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-08-01  4217.06
1  2018-09-01  6220.29
2  2018-10-01   5089.3
3  2018-11-01  5336.98
4  2018-12-01  4702.56
5  2019-01-01  6724.03
6  2019-02-01  6187.84
7  2019-03-01  9440.38
8  2019-04-01  9226.59
9  2019-05-01  7669.65
10 2019-06-01  8728.36
11 2019-07-01  8681.69

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-09-01   6198.6
1  2018-10-01  5132.64
2  2018-11-01  5347.05
3  2018-12-01  4720.08
4  2019-01-01  6724.29
5  2019-02-01   6184.4
6  2019-03-01  9479.19
7  2019-04-01  9157.17
8  2019-05-01  7648.84
9  2019-06-01  8682.89
10 2019-07-01  8626.95
11 2019-08-01  6922.18

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-10-01  5094.91
1  2018-11-01  5351.65
2  2018-12-01  4736.57
3  2019-01-01  6632.59
4  2019-02-01   6260.6
5  2019-03-01  9395.13
6  2019-04-01  9194.81
7  2019-05-01  7662.36
8  2019-06-01  8811.99
9  2019-07-01  8732.69
10 2019-08-01  6987.33
11 2019-09-01  6782.98

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-11-01  5392.17
1  2018-12-01  4718.93
2  2019-01-01  6656.11
3  2019-02-01  6251.58
4  2019-03-01  9454.77
5  2019-04-01  9113.27
6  2019-05-01  7517.94
7  2019-06-01  8711.62
8  2019-07-01  8495.34
9  2019-08-01  6907.99
10 2019-09-01  6715.18
11 2019-10-01  5728.31

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2018-12-01  4729.65
1  2019-01-01  6707.61
2  2019-02-01  6274.78
3  2019-03-01   9424.8
4  2019-04-01  9171.13
5  2019-05-01  7526.35
6  2019-06-01  8824.82
7  2019-07-01  8531.31
8  2019-08-01  6864.27
9  2019-09-01  6707.05
10 2019-10-01   5747.2
11 2019-11-01  6124.76

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-01-01  6702.89
1  2019-02-01  6266.35
2  2019-03-01  9431.19
3  2019-04-01  9142.06
4  2019-05-01  7507.73
5  2019-06-01  8845.56
6  2019-07-01  8541.03
7  2019-08-01  6884.94
8  2019-09-01  6726.19
9  2019-10-01  5767.27
10 2019-11-01  6135.32
11 2019-12-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-02-01  6287.17
1  2019-03-01   9459.3
2  2019-04-01  9148.26
3  2019-05-01  7535.68
4  2019-06-01  8938.23
5  2019-07-01   8623.4
6  2019-08-01  6924.35
7  2019-09-01   6749.6
8  2019-10-01  5765.42
9  2019-11-01  6170.59
10 2019-12-01      NaN
11 2020-01-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-03-01  9461.48
1  2019-04-01  9175.52
2  2019-05-01  7403.24
3  2019-06-01   8746.2
4  2019-07-01  8476.34
5  2019-08-01  6856.42
6  2019-09-01  6597.03
7  2019-10-01  5827.01
8  2019-11-01  6121.53
9  2019-12-01      NaN
10 2020-01-01      NaN
11 2020-02-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-04-01  9177.64
1  2019-05-01  7422.79
2  2019-06-01  8738.71
3  2019-07-01   8472.9
4  2019-08-01  6812.28
5  2019-09-01  6614.63
6  2019-10-01  5830.03
7  2019-11-01  6121.68
8  2019-12-01      NaN
9  2020-01-01      NaN
10 2020-02-01      NaN
11 2020-03-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-05-01  10085.6
1  2019-06-01  10710.4
2  2019-07-01  10444.6
3  2019-08-01  10314.8
4  2019-09-01  7429.82
5  2019-10-01  6127.65
6  2019-11-01  6937.49
7  2019-12-01      NaN
8  2020-01-01      NaN
9  2020-02-01      NaN
10 2020-03-01      NaN
11 2020-04-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-06-01  12098.7
1  2019-07-01    11811
2  2019-08-01  11189.4
3  2019-09-01  7630.45
4  2019-10-01  6573.98
5  2019-11-01  7159.32
6  2019-12-01      NaN
7  2020-01-01      NaN
8  2020-02-01      NaN
9  2020-03-01      NaN
10 2020-04-01      NaN
11 2020-05-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-07-01  12401.5
1  2019-08-01  11731.4
2  2019-09-01  7853.38
3  2019-10-01  6791.03
4  2019-11-01  7456.33
5  2019-12-01      NaN
6  2020-01-01      NaN
7  2020-02-01      NaN
8  2020-03-01      NaN
9  2020-04-01      NaN
10 2020-05-01      NaN
11 2020-06-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-08-01  11331.6
1  2019-09-01  7591.96
2  2019-10-01  6578.36
3  2019-11-01  7234.18
4  2019-12-01      NaN
5  2020-01-01      NaN
6  2020-02-01      NaN
7  2020-03-01      NaN
8  2020-04-01      NaN
9  2020-05-01      NaN
10 2020-06-01      NaN
11 2020-07-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-09-01  7652.02
1  2019-10-01  6592.27
2  2019-11-01  7249.06
3  2019-12-01      NaN
4  2020-01-01      NaN
5  2020-02-01      NaN
6  2020-03-01      NaN
7  2020-04-01      NaN
8  2020-05-01      NaN
9  2020-06-01      NaN
10 2020-07-01      NaN
11 2020-08-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-10-01     6890
1  2019-11-01  7662.88
2  2019-12-01      NaN
3  2020-01-01      NaN
4  2020-02-01      NaN
5  2020-03-01      NaN
6  2020-04-01      NaN
7  2020-05-01      NaN
8  2020-06-01      NaN
9  2020-07-01      NaN
10 2020-08-01      NaN
11 2020-09-01      NaN

'results_dayz_N+1_14.524.csv'

'results_dayz_N+2_13.544.csv'

'results_dayz_N+3_11.854.csv'

'results_dayz_N+4_10.137.csv'

'results_dayz_N+5_8.523.csv'

'results_dayz_N+6_6.674.csv'

'results_dayz_N+7_7.069.csv'

'results_dayz_N+8_8.195.csv'

'results_dayz_N+9_8.718.csv'

'results_dayz_N+10_9.012.csv'

'results_dayz_N+11_8.873.csv'

'results_dayz_N+12_9.922.csv'

           ds     yhat
0  2019-11-01  7290.16
1  2019-12-01      NaN
2  2020-01-01      NaN
3  2020-02-01      NaN
4  2020-03-01      NaN
5  2020-04-01      NaN
6  2020-05-01      NaN
7  2020-06-01      NaN
8  2020-07-01      NaN
9  2020-08-01      NaN
10 2020-09-01      NaN
11 2020-10-01      NaN